*{
    border: none;
    margin: none;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav {
    display: flex;
    background-color: rgb(70, 68, 65);
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0 2rem;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 2rem;
}

nav ul li a{
    text-decoration: none;
    color:white;
}

nav ul li a:hover{
    text-decoration: underline;
}

.list{
    list-style: none;
}

.list a {
    text-decoration: none;
}


footer {
    background-color: rgb(70, 68, 65);
}

footer p {
    color: white;
}