<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>Word Site</title>
  </head>
  <body>
    <header>
      <nav>
        <div class="brand-container">LOGO</div>
        <ul>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'home' %}">About</a></li>
          <li><a href="{% url 'home' %}">Centers</a></li>
          <li><a href="{% url 'home' %}">Contact</a></li>
        </ul>
      </nav>
    </header>
    {% block content %} {% endblock %}

    <footer>
      <p>&copy; 2024</p>
    </footer>
  </body>
</html>
